ul {
    margin: 0px;
    padding: 0px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.div-container{
  display: flex;
}
