<footer class="footer-section">
    <div class="container">
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="text-lg-left text-lg-center">
                    <div class="copyright-text">
                        <p>Nombre del local</p>
                    </div>
                </div>
                <div class="text-center text-lg-center">
                    <div class="copyright-text">
                        <a href="/inicio" style="margin: 1%; color: white;">Inicio</a>
                        <a href="/catalogo" style="margin: 1%; color: white;">Catalogo</a>
                        <a href="/faq" style="margin: 1%; color: white;">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>