<div>

    <div class="container">
        <div class="p-container">
            <h1 class="lel">Sobre nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis odio incidunt magnam, quo delectus ipsam
                officia velit eveniet minus aperiam accusantium cumque aliquam minima tempore ad ut reprehenderit hic.
                Exercitationem labore corrupti fugiat, quis perferendis provident veniam fuga sapiente deleniti non
                repellat molestiae commodi ratione placeat cupiditate maxime soluta, laboriosam quam perspiciatis qui
                repellendus ut magni vitae eveniet! Quas officiis libero ratione quasi? Sit rerum cum pariatur adipisci
                assumenda iusto fuga nemo itaque dicta omnis! Labore velit quibusdam nulla vitae.</p>
                <div class="div-button">
                <button type="button" data-bs-toggle="modal" data-bs-target="#ModalContact" class="uk-width-1-1 btn btn-outline-primary">Contacto</button>
            </div>
        </div>
        <div class="i-container">
            <img class="img-brand" src="../../../assets/nike-logo-png.png">
        </div>
    </div>
</div>