@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
.uk-accordion-title{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.12rem;
    color: #490049;  
    background-color: #016370 ;
    padding: 1%;
    text-transform: capitalize;
    border-radius: 10px;
    font-family: 'Meera Inimai', sans-serif;
}

a{
    color: rgb(255, 255, 255);
}

.uk-open{
    background-color: #007185 ;
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
}

.uk-open:hover{
    transform: scale(1.01);
    transition: ease-in-out 0.1s transform;
}


.uk-icon{
    font-size: 90px;
}

.uk-background-secondary {
    background-color: transparent;
}

.faqH1{
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.12rem;
    font-family: 'Meera Inimai', sans-serif;
    font-weight: 900;
    color: #016370 ;  
    padding: 1%;
    text-transform: capitalize;
    border-radius: 10px;
}

