<p>faq works!</p>
<div uk-height-viewport="expand:true">
    <ul uk-accordion="multiple: true">
        <li *ngFor="let question of questions">
            <a class="uk-accordion-title" href="#">{{question.title}}</a>
            <div class="uk-accordion-content">
                <p>{{question.description}}</p>
                <a uk-icon='close' data-bs-dismiss="modal" (click)="delete(question.id)" class="uk-icon" style="color: rgb(191, 0, 0);"></a>
                <button data-bs-toggle="modal" data-bs-target="#ModalEditQuestion" (click)="openQuestionEdit(question.id)"
    class="uk-button uk-button-secondary uk-width-1-1">aceptar</button>
            </div>
        </li>
    </ul>
</div>

<!-- Modal para agregar preguntas -->
<button data-bs-toggle="modal" data-bs-target="#ModalAddQuestion"
    class="uk-button uk-button-secondary uk-width-1-1">aceptar</button>
<div class="modal fade" id="ModalAddQuestion" tabindex="-1" aria-labelledby="ModalAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAddLabel">Agregar pregunta</h5>
                <a uk-icon='close' data-bs-dismiss="modal" class="uk-icon" style="color: rgb(191, 0, 0);"></a>
            </div>
            <div class="modal-body">
                <form [formGroup]="formQuestion" (ngSubmit)="addQuestion()">
                    <label for="title">Titulo</label>
                    <input type="text" name="" id="title" class="form-control" formControlName="title"
                        placeholder="Titulo"><br>
                    <label for="description">Descripción</label>
                    <input type="text" name="" id="description" class="form-control" formControlName="description"
                        placeholder="description"><br>
                    <hr>
                    <button class="uk-button uk-button-secondary uk-width-1-1">aceptar</button>
                </form>
                <div *ngIf="loading" div class="loader uk-width-1-1"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar la pregunta -->
<div class="modal fade" id="ModalEditQuestion" tabindex="-1" aria-labelledby="ModalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditLabel">Editar Pregunta</h5>
                <a uk-icon='close' data-bs-dismiss="modal" class="uk-icon" style="color: rgb(191, 0, 0);"></a>
            </div>
            <div class="modal-body">
                <form [formGroup]="editQuestion" >
                    <label for="title">Titulo</label>
                    <input type="text" name="" id="title" class="form-control" formControlName="title"
                        placeholder="Titulo"><br>
                    <label for="description">Descripción</label>
                    <input type="text" name="" id="description" class="form-control" formControlName="description"
                        placeholder="description"><br>
                    <hr>
                    <button class="uk-button uk-button-secondary uk-width-1-1" (click)="update()">aceptar</button>
                </form>
                <div *ngIf="loading" div class="loader uk-width-1-1"></div>
            </div>
        </div>
    </div>
</div>